.pdf_profile{
    float: right;
}
.send_profile{
    float: right;
}

.pro_send_btn{
    margin-bottom: 10px;

}

.already_sent{
    margin-left: 10px;
    font-size: 14px;
    color: #B13132;
}

.default_pic{
    margin-right: 10px;
    margin-top: 28px;
    margin-left: 10px;
}