.pdf_profile{
    float: left;
    margin-top: 30px;
    margin-right: 10px;
}
.send_profile{
    float: right;
    padding: 10px 15px;
}

.pro_send_btn{
    margin-bottom: 10px;
        width: 100%;
    text-align: right;
    display: inline-block;
    padding-top: 20px;
}

.already_sent{
    margin-left: 10px;
    font-size: 14px;
    color: #B13132;
}

.default_pic{
    margin-right: 10px;
    margin-top: 28px;
    margin-left: 10px;
}